<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614806400777-kbs3n3i6mlaug0pbvmbimb9knije7kjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614806400777-kbs3n3i6mlaug0pbvmbimb9knije7kjb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>614806400777-a9ga9jvh8mjv67e187ta1bab008l9p2n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCA8RkA1-pFvcOd47RNxFmacmXn95Ard4c</string>
	<key>GCM_SENDER_ID</key>
	<string>614806400777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oidmtruk.pomodizer</string>
	<key>PROJECT_ID</key>
	<string>pomodizer-54f18</string>
	<key>STORAGE_BUCKET</key>
	<string>pomodizer-54f18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614806400777:ios:262b44ddb857bd9a1e2dd8</string>
</dict>
</plist>